@import "../../../../variables";

.band-info {
    @include container;
    position: relative;
    display: flex;
    margin-top: $space_between_sections;

    &__sidebar-container {
        width: 30%;
    }

    &__title{
        font-size: 30px;
        text-align: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    &__block-title {
        margin-bottom: 20px;
        font-size: 28px;
        text-transform: capitalize;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__member {
        position: relative;
    }

    &__past-member {
        display: block;
        position: absolute;
        top: -10px;
        right: -15px;
        max-width: 72px;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #939393cc;
        font-size: 12px;
        text-transform: uppercase;
        white-space: wrap;
        text-align: center;
    }
}