@import "../../../variables";

.band-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 4px;
        background-size: cover;
        box-shadow: 2px 2px 10px #474747a6;
    }

    &__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .band-card {
        &__image {
            width: 160px;
            height: 160px;
        }

        &__title {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 650px) {
    .band-card {
        gap: 15px;

        &__image {
            width: 110px;
            height: 110px;
        }
    }
}